absl-py
aiohttp
aiosignal
appdirs
astunparse
async-timeout
attrs
blinker
brotlipy
cached-property
cachetools
certifi==2023.7.22
cffi
charset-normalizer
click
contourpy
cryptography
cycler
flatbuffers
fonttools
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta==0.2.0
grpcio
h5py
idna
importlib-metadata
importlib-resources
jax
jaxlib==0.4.14
joblib
keras
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
ml-dtypes
multidict
munkres==1.1.4
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pooch
protobuf==4.21.12
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
pyu2f
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tornado
typing_extensions
tzdata
unicodedata2
urllib3
Werkzeug
wrapt
yarl
zipp